/* CSS file placeholder. */
body {
  text-decoration: none;
  color: "pink";
  text-align: center;
  
}

html, body {
  overflow-y: auto;
}

#big_circle {
  width:90%;
}

#list-of-tasks {
  overflow-y:auto;
  padding-left:0;
  text-align:left;
  vertical-align: middle;
  font-size:20px;
}

#list-of-tasks > li > *{
  display:inline-block;
}

#list-of-tasks > li > div > *{
  display:block;
}

#list-of-tasks > li > canvas {
  width:100px;
  height:100px;
}

#list-of-tasks > li > div {
  width: calc(100% - 120px);
}

#list-of-tasks > li > div > *{
  width: 100%;
}

#list-of-tasks > li > div > *:nth-child(2) {
  font-size:12px;
  color:gray;
}