/* CSS file placeholder. */
/* CSS file placeholder. */
body {
  text-decoration: none;
  color: "pink";
  text-align: center;
}

a {
  font-size: 400%;
  color: black;
}

.small_circle {
  
}

.big_circle {
  
}